In [1]:
import pandas as pd

In [2]:
birds=pd.read_csv("birds.csv")
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO

### Grouping

In [3]:
g_bir=birds.groupby(["type","id"])
g_bir.first()

           huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw
type id
P    254  29.26  2.66  27.63   2.23  27.87  2.03  38.90  1.81  25.22  1.62
     255  30.60  2.45  25.90   1.87  32.36  2.10  50.25  1.88  33.58  1.88
     256  30.25  2.29  25.14   1.87  31.61  2.18  50.98  2.00  33.50  1.93
     257  42.52  2.99  36.73   2.91  52.24  3.81  81.57  3.71  61.27  2.71
     258  45.60  3.35  38.73   3.52  54.45  4.10  83.59  3.72  63.91  2.67
...         ...   ...    ...    ...    ...   ...    ...   ...    ...   ...
W    176  33.20  2.11  34.31   2.25  20.36  1.57  37.95  1.42  23.67  1.26
     177  32.31  2.16  32.74   1.98  19.05  1.40  33.37  1.14  21.20  1.00
     178  28.51  1.80  29.35   1.78  17.60  1.21  36.04  1.14  20.81  0.83
     179  34.12  1.90  35.57   1.93  21.22  1.39  46.24  1.27  31.39  1.05
     180  87.01  5.18  94.34   4.45  35.73  2.80  67.12  2.93  43.43  2.34

[420 rows x 10 columns]

In [4]:
g_birds=birds.groupby("type")

In [5]:
g_birds

In [7]:
for g_name,records in g_birds:
    print(g_name,records)

P       id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  \
254  254  29.26  2.66  27.63   2.23  27.87  2.03  38.90  1.81  25.22  1.62
255  255  30.60  2.45  25.90   1.87  32.36  2.10  50.25  1.88  33.58  1.88
256  256  30.25  2.29  25.14   1.87  31.61  2.18  50.98  2.00  33.50  1.93
257  257  42.52  2.99  36.73   2.91  52.24  3.81  81.57  3.71  61.27  2.71
258  258  45.60  3.35  38.73   3.52  54.45  4.10  83.59  3.72  63.91  2.67
259  259  43.97  3.54  38.38   3.14  52.49  4.25  83.15  4.12  61.08  3.04
260  260  46.38  3.41  39.80   3.48  54.67  4.08  85.88  4.04  63.75  3.09
261  261  45.57  4.64  57.13   2.93  28.32  2.26  36.95  1.96  19.75  2.16
262  262  33.81  2.80  42.82   2.22  18.88  1.45  26.28  1.31  14.45  1.29
263  263  31.72  2.64  40.00   1.99  20.36  1.59  32.21  1.62  17.72  1.52
264  264   9.85  2.88  14.73   1.73  16.27  1.22  20.89  1.25   7.77  1.23
265  265  44.47  4.24  55.77   3.43  38.57  3.06  52.80  2.82  18.57  3.60
266  266  18.46  1.79  21.12   1.47  18.83  1.21  26.33  1.05  11.41  1.56
267  267  18.55  2.12  21.08   1.41  18.19  1.30  25.97  1.17  11.26  1.57
268  268  27.57  2.67  31.60   2.12  18.92  1.52  30.42  1.58  12.46  1.46
269  269  27.07  2.66  31.95   1.87  18.80  1.51  26.38  1.33  12.52  1.16
270  270  26.92  2.73  31.54   2.01  19.10  1.59  26.68  1.35  13.21  1.23
271  271  49.12  3.59  60.95   2.99  26.35  2.00  37.29  1.81  10.39  2.03
272  272  48.80  3.78  59.47   3.17  26.14  2.24  36.01  1.63  11.65  2.00
273  273  47.17  3.96  56.57   2.87  33.60  2.68  50.66  2.49  32.03  2.06
274  274  37.86  3.24  46.72   2.63  27.52  2.26  42.49  1.89  26.88  1.54
275  275  39.98  3.34  47.50   2.64  28.57  2.53  42.96  2.20  27.66  1.67
276  276  44.18  3.88  50.72   3.49  39.58  3.90  50.89  3.61  35.14  2.82
277  277  41.36  3.52  49.34   2.83  30.97  2.46  44.31  2.43  29.97  2.05
278  278  41.66  3.56  48.82   2.80  31.94  2.52  46.19  2.31  30.73  1.95
279  279  31.28  2.83  36.88   2.20  22.30  2.10  32.60  1.68  20.47  1.54
280  280  34.07  3.26  41.34   2.62  24.25  2.30  36.35  2.13  24.69  2.12
281  281  33.79  3.04  42.13   2.56  23.09  2.21  34.74  2.07  22.12  1.78
282  282  34.15  2.98  40.67   2.45  24.72  1.98  37.35  1.93  23.49  1.67
283  283  36.88  3.18  46.28   2.77  26.08  2.19  39.44  2.03  25.60  1.98
284  284  28.55  2.65  33.74   2.38  19.56  1.98  29.21  1.64  18.75  1.53
285  285  30.51  2.69  35.33   2.29  21.90  2.04  32.26  1.65  22.52  1.43
286  286  29.81  2.59  35.05   2.28  21.48  2.11  31.89  1.84  21.67  1.52
287  287  27.72  2.67  32.00   2.21  22.68  2.13  32.50  1.76  19.65  1.64
288  288  29.14  2.75  32.91   2.16  23.13  2.11  33.89  1.80  20.86  1.70
289  289  27.85  2.65  32.62   2.05  22.84  2.14  33.62  1.91  20.82  1.80
290  290  20.06  1.73  23.15   1.49  16.63  1.57  24.71  1.29  15.19  1.24
291  291  41.60  3.74  56.50   3.02  37.00  2.99  62.90  2.82  38.21  2.51

    type
254    P
255    P
256    P
257    P
258    P
259    P
260    P
261    P
262    P
263    P
264    P
265    P
266    P
267    P
268    P
269    P
270    P
271    P
272    P
273    P
274    P
275    P
276    P
277    P
278    P
279    P
280    P
281    P
282    P
283    P
284    P
285    P
286    P
287    P
288    P
289    P
290    P
291    P
R       id    huml   humw   ulnal  ulnaw   feml  femw    tibl  tibw   tarl  \
204  204   63.76   4.74     NaN    NaN  57.33  4.88   75.67  4.33  60.19
205  205   57.48   4.74   69.06   4.08  57.56  4.80   80.16  4.25  60.54
206  206   62.49   4.75   69.66   3.99  57.30  4.60   77.60  4.26  60.31
207  207   98.08   7.77  113.04   5.76  82.04  7.17  107.47  6.65    NaN
208  208   54.47   4.37   63.29   3.32  47.83  3.45   64.25  3.15  54.97
209  209   57.56   4.33   67.15   3.54  55.19  4.21   75.03  3.71  59.33
210  210   52.88   4.47   62.02   3.76  47.09  3.64   63.42  3.40  54.54
211  211  110.87   8.26  129.05   6.78  80.80  7.98  112.36  7.18  84.69
212  212  117.37   9.25  136.52   7.00  87.49  8.92  119.17  7.89  86.61
213  213  102.35   7.01  118.67   5.72  78.75  6.89  104.01  6.12  80.10
214  214  108.37   7.49  129.39   6.00  82.29  6.74  113.39  6.38  86.05
215  215   81.39   5.77   94.83   4.80  65.97  5.52   91.63  5.38  73.29
216  216   83.13   5.80   95.42   4.40  66.98  5.14   90.60  4.95  75.64
217  217   89.63   6.44  104.11   5.26  72.24  6.32   97.78  5.81  76.76
218  218   89.05   6.28  102.09   5.37  70.32  5.90   96.12  5.70  75.05
219  219   98.94   7.13  119.72   5.60  74.17  6.30  106.50  5.80  83.13
220  220  121.59   8.17  148.52   6.44  89.67  7.63  116.71  6.87  83.28
221  221  130.06   9.51  155.00   7.18  94.79  8.64  125.53  7.87  53.83
222  222  116.41   6.85  131.00   5.80  75.36  6.55  119.87  6.10  99.72
223  223  107.06   8.62  129.08   6.48  71.03  6.87  100.06  6.10  68.64
224  224  120.00   8.38  130.00   6.41  89.93  8.46  116.17  7.52  84.18
225  225   85.45   6.16   99.32   4.81  53.01  4.27   69.15  4.21  37.61
226  226   83.02   5.95   96.97   4.38  51.87  4.21   66.60  4.06  36.60
227  227   71.97   6.18   84.68   5.14  63.79  5.43   82.93  4.63  52.71
228  228   82.58   7.32   97.52   6.19  71.37  6.30   91.66  5.65  56.93
229  229   45.37   3.72   51.37   3.16  39.02  2.99   53.23  2.68  38.07
230  230   41.65   3.62   46.01   3.03  38.37  2.85   48.11  2.55  35.49
231  231   42.46   3.49   47.34   3.27  36.03  2.94   49.17  2.68  34.38
232  232  145.00  10.37  188.00   7.92  77.09  7.75  125.48  7.90  51.99
233  233  142.00   9.60   82.00   7.31  77.96  7.03  124.98  7.05  51.82
234  234  145.00  10.31  188.00   7.85  78.86  7.72  126.54  7.13  53.64
235  235   57.41   3.82   70.39   3.08  39.70  3.37   66.58  3.33  46.81
236  236   50.78   3.15   62.89   2.69  36.32  2.84   62.53  2.75  44.08
237  237  119.12   7.57  137.37   6.06  75.53  6.35  115.02  6.22  60.99
238  238  117.43   7.13  136.26   5.51  75.54  5.85  115.30  5.45  59.45
239  239  116.85   7.43  134.80   6.19  73.51  6.10  112.66  5.94  61.25
240  240  119.58   8.04  138.39   6.25  76.36  6.50  115.90  6.07  59.90
241  241  126.88   8.01  148.47   6.59  81.42  6.71  124.05  6.58  64.57
242  242   47.16   2.82   55.41   2.37  34.58  2.47   53.22  2.29  33.77
243  243   44.91   2.54   48.45   2.14  34.87  2.48   50.87  2.27  29.80
244  244   61.60   3.42   66.26   2.59  37.04  2.84   63.03  2.87  44.51
245  245   94.03   5.88  104.09   4.32  56.76  4.98   96.60  4.87  68.65
246  246   90.13   5.92  104.28   4.40  54.55  4.65   94.99  4.42  67.55
247  247  100.29   6.33  112.19   4.69  59.71  4.94  102.54  5.33  71.03
248  248   96.46   5.71  111.85   4.20  59.82  4.65   99.16  4.56  73.95
249  249   93.37   5.33  102.65   3.90  58.55  4.62  101.24  4.57  71.30
250  250   99.69   6.09  111.00   4.26  60.84  4.75  104.72  4.92  71.23
251  251   34.84   2.44   40.68   2.04  38.43  2.54   42.48  2.45  20.07
252  252   33.12   2.40   39.85   1.80  27.46  2.19   38.99  2.15  19.10
253  253   35.63   2.40   42.67   2.02  28.51  2.41   42.64  2.46  21.05

     tarw type
204  3.82    R
205  3.78    R
206  3.86    R
207   NaN    R
208  2.86    R
209  3.29    R
210  2.90    R
211  7.11    R
212  7.36    R
213  6.10    R
214  6.15    R
215  5.11    R
216  4.56    R
217  5.29    R
218  5.12    R
219  5.86    R
220  6.80    R
221  7.89    R
222  6.06    R
223  5.87    R
224  6.97    R
225  5.47    R
226  5.63    R
227  4.72    R
228  5.99    R
229  2.29    R
230  2.22    R
231  2.25    R
232  9.64    R
233  8.26    R
234  8.88    R
235  2.78    R
236  2.61    R
237  7.91    R
238  8.25    R
239  6.90    R
240  6.92    R
241  7.97    R
242  2.51    R
243  2.70    R
244  2.43    R
245  4.40    R
246  4.14    R
247  4.95    R
248  4.29    R
249  4.38    R
250  4.21    R
251  3.15    R
252  2.89    R
253  3.12    R
SO       id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  \
292  292  29.61  2.41  33.93   2.02  30.79  2.19  51.64  2.01  37.33  1.78
293  293  30.28  2.89  35.37   2.15  31.09  2.51  53.36  2.31  39.52  1.69
294  294  28.10  2.44  32.50   2.19  29.68  2.33  50.47  2.21  37.98  1.79
295  295  28.66  2.48  33.24   2.02  29.33  2.26  50.64  2.05  35.99  1.85
296  296  36.36  3.31  40.51   2.56  37.52  2.85  53.96  2.63  42.71  2.41
..   ...    ...   ...    ...    ...    ...   ...    ...   ...    ...   ...
415  415  17.96  1.63  19.25   1.33  18.36  1.54  31.25  1.33  21.99  1.15
416  416  19.21  1.64  20.76   1.49  19.24  1.45  33.21  1.28  23.60  1.15
417  417  18.79  1.63  19.83   1.53  20.96  1.43  34.45  1.41  22.86  1.21
418  418  20.38  1.78  22.53   1.50  21.35  1.48  36.09  1.53  25.98  1.24
419  419  17.89  1.44  19.26   1.10  17.62  1.34  29.81  1.24  21.69  1.05

    type
292   SO
293   SO
294   SO
295   SO
296   SO
..   ...
415   SO
416   SO
417   SO
418   SO
419   SO

[128 rows x 12 columns]
SW       id    huml  humw   ulnal  ulnaw   feml  femw    tibl  tibw   tarl  tarw  \
0      0   80.78  6.68   72.01   4.88  41.81  3.70    5.50  4.03  38.70  3.84
1      1   88.91  6.63   80.53   5.59  47.04  4.30   80.22  4.51  41.50  4.01
2      2   79.97  6.37   69.26   5.28  43.07  3.90   75.35  4.04  38.31  3.34
3      3   77.65  5.70   65.76   4.77  40.04  3.52   69.17  3.40  35.78  3.41
4      4   62.80  4.84   52.09   3.73  33.95  2.72   56.27  2.96  31.88  3.13
..   ...     ...   ...     ...    ...    ...   ...     ...   ...    ...   ...
111  111  106.23  6.82  104.02   5.07  40.06  4.96  105.34  4.99  57.27  3.20
112  112  105.19  7.10   96.85   5.43  37.61  4.43  102.04  4.90  54.78  2.83
113  113   76.49  5.36   69.06   4.02  30.07  3.03   72.41  3.71  43.11  2.08
114  114   65.66  3.79   61.06   3.35  24.95  2.44   63.76  2.72  40.19  1.89
115  115   98.73  6.48   91.69   5.31  35.34  4.02   92.36  4.46  50.53  2.69

    type
0     SW
1     SW
2     SW
3     SW
4     SW
..   ...
111   SW
112   SW
113   SW
114   SW
115   SW

[116 rows x 12 columns]
T       id    huml   humw   ulnal  ulnaw    feml   femw    tibl   tibw    tarl  \
181  181   43.97   4.64   51.07   3.80   38.76   3.18   55.67   2.88   30.41
182  182   44.58   5.76   52.76   4.84   40.47   3.76   56.42   3.31   31.32
183  183   20.25   2.35   25.14   1.76   20.17   1.37   27.67   1.41   15.68
184  184   48.70   5.46   57.39   3.73   42.56   3.07   52.42   2.85   27.23
185  185   35.74   3.91   39.20   2.93   33.01   2.65   42.80   2.18   24.85
186  186   37.69   4.18   43.30   3.38   35.00   2.87   49.15   2.37   26.33
187  187   31.26   3.60   35.24   2.91   28.62   2.42   39.04   2.32   21.88
188  188   30.97   3.65   36.47   2.96   28.03   2.21   37.41   1.99   21.11
189  189   30.31   3.36   34.83   2.49   26.36   2.17   34.16   1.88   18.72
190  190   32.02   2.99   27.70   2.38   38.27   2.64   53.33   2.71   31.00
191  191   32.34   3.17   29.05   2.36   39.64   2.70   55.36   2.51   37.08
192  192   30.88   3.32   26.93   2.41   38.19   2.82   53.59   2.62   30.02
193  193   32.11   3.47   28.48   2.62   39.55   3.31   56.16   3.00   31.74
194  194   32.61   2.98   28.37   2.49   37.47   2.61   48.92   2.39   28.46
195  195   34.63   3.10   26.87   2.35   40.87   3.05   53.98   2.79   31.59
196  196   32.28   3.34   28.79   2.45   38.46   2.82   52.93   2.50   30.97
197  197   92.82   9.60  100.58   7.57   82.94   7.47  118.24   6.61   69.16
198  198   55.62   4.79   52.09   4.26   64.80   5.74   86.17   4.76   49.37
199  199   32.68   3.26   29.02   2.36   39.38   2.72   56.45   2.50   32.56
200  200   34.24   3.39   30.65   2.63   40.41   2.92   53.77   2.72   32.24
201  201  118.75  11.90  104.68   4.77  108.85  10.29  183.00   9.69  134.00
202  202  127.00  13.79  123.27   9.42  117.07  11.64  189.00  10.03  128.50
203  203   39.64   4.07   37.32   2.98   45.50   3.42   64.45   3.37   37.77

     tarw type
181  2.83    T
182  3.34    T
183  1.55    T
184  3.03    T
185  2.34    T
186  2.51    T
187  2.27    T
188  2.25    T
189  2.03    T
190  2.45    T
191  2.22    T
192  2.39    T
193  2.49    T
194  2.34    T
195  2.63    T
196  2.48    T
197  5.66    T
198  4.25    T
199  2.49    T
200  2.67    T
201  7.96    T
202  8.19    T
203  2.86    T
W       id    huml   humw   ulnal  ulnaw    feml  femw    tibl  tibw    tarl  \
116  116  157.00   9.00  192.00   7.02   85.60  6.44  227.00  6.84  175.00
117  117  190.00  11.92  225.00   8.55  101.75  7.75  240.00  7.71  175.00
118  118   70.01   3.71   76.90   2.88   49.42  3.08   79.56  3.35   52.74
119  119   92.93   5.28  110.94   3.87   55.11  4.16  137.00  4.29   96.37
120  120  118.52   6.87  134.91   5.06   78.20  5.24  132.00  5.38   85.28
..   ...     ...    ...     ...    ...     ...   ...     ...   ...     ...
176  176   33.20   2.11   34.31   2.25   20.36  1.57   37.95  1.42   23.67
177  177   32.31   2.16   32.74   1.98   19.05  1.40   33.37  1.14   21.20
178  178   28.51   1.80   29.35   1.78   17.60  1.21   36.04  1.14   20.81
179  179   34.12   1.90   35.57   1.93   21.22  1.39   46.24  1.27   31.39
180  180   87.01   5.18   94.34   4.45   35.73  2.80   67.12  2.93   43.43

     tarw type
116  6.77    W
117  7.00    W
118  3.02    W
119  3.79    W
120  4.74    W
..    ...  ...
176  1.26    W
177  1.00    W
178  0.83    W
179  1.05    W
180  2.34    W

[65 rows x 12 columns]

In [6]:
g_birds.mean()

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw
type,,,,,,,,,,,
P,272.5,34.423947,3.039211,39.177368,2.476316,28.217368,2.307895,41.881316,2.095789,25.787368,1.902632
R,228.5,86.934400,6.065600,100.342449,4.813265,62.020000,5.266800,89.877400,4.949200,59.166327,5.073878
SO,355.5,22.361102,2.029764,26.398095,1.743858,21.383465,1.680313,36.326032,1.548740,25.842656,1.349375
SW,57.5,110.251121,6.423966,111.755517,5.221638,42.169655,4.275776,85.317069,4.513534,45.156207,4.149914
T,192.0,45.699565,4.786087,45.617391,3.471739,46.277391,3.819565,66.090870,3.451739,40.086522,3.183913
W,148.0,73.133077,4.607077,78.101385,4.102615,40.119531,3.118594,76.150000,3.179231,47.543385,2.760308

In [9]:
g_birds.get_group("P").mean()

id       272.500000
huml      34.423947
humw       3.039211
ulnal     39.177368
ulnaw      2.476316
feml      28.217368
femw       2.307895
tibl      41.881316
tibw       2.095789
tarl      25.787368
tarw       1.902632
dtype: float64

In [18]:
g_birds.get_group("SW").mean()

id        57.500000
huml     110.251121
humw       6.423966
ulnal    111.755517
ulnaw      5.221638
feml      42.169655
femw       4.275776
tibl      85.317069
tibw       4.513534
tarl      45.156207
tarw       4.149914
dtype: float64

In [21]:
g_birds.get_group("SO").max()

id         419
huml      48.2
humw      4.08
ulnal    61.94
ulnaw     3.75
feml     40.11
femw      3.51
tibl     64.97
tibw      3.21
tarl     48.35
tarw      2.57
type        SO
dtype: object

### Features

* labels
* Columns

In [22]:
birds.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [23]:
birds.shape

(420, 12)

In [24]:
birds.shape[0]   #rows

420

In [25]:
birds.shape[1]  #columns

12

In [26]:
birds["type"]

0      SW
1      SW
2      SW
3      SW
4      SW
       ..
415    SO
416    SO
417    SO
418    SO
419    SO
Name: type, Length: 420, dtype: object

In [27]:
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO

In [31]:
birds["length"]=birds["type"].str.len()

In [32]:
birds.head()

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2

In [35]:
birds[birds.columns[1:-2]]

      huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw
0    80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84
1    88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01
2    79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34
3    77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41
4    62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13
..     ...   ...    ...    ...    ...   ...    ...   ...    ...   ...
415  17.96  1.63  19.25   1.33  18.36  1.54  31.25  1.33  21.99  1.15
416  19.21  1.64  20.76   1.49  19.24  1.45  33.21  1.28  23.60  1.15
417  18.79  1.63  19.83   1.53  20.96  1.43  34.45  1.41  22.86  1.21
418  20.38  1.78  22.53   1.50  21.35  1.48  36.09  1.53  25.98  1.24
419  17.89  1.44  19.26   1.10  17.62  1.34  29.81  1.24  21.69  1.05

[420 rows x 10 columns]

In [37]:
birds[birds.columns[1:-2]].mean(axis=1)  #default it is 0

0      26.193
1      36.324
2      32.889
3      30.920
4      25.437
        ...
415    11.579
416    12.303
417    12.410
418    13.386
419    11.244
Length: 420, dtype: float64

In [39]:
birds["feature_mean"]=birds[birds.columns[1:-2]].mean(axis=1)

In [40]:
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

### Filtering

In [41]:
birds.count()

id              420
huml            419
humw            419
ulnal           417
ulnaw           418
feml            418
femw            419
tibl            418
tibw            419
tarl            419
tarw            419
type            420
length          420
feature_mean    420
dtype: int64

In [42]:
birds["tarw"].mean()

2.930023866348452

In [43]:
birds["id"].max()

419

In [44]:
birds["huml"].max()

420.0

In [45]:
birds["huml"].min()

9.85

In [46]:
birds["huml"]>90

0      False
1      False
2      False
3      False
4      False
       ...
415    False
416    False
417    False
418    False
419    False
Name: huml, Length: 420, dtype: bool

In [47]:
birds[birds["huml"]>90]

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
8,8,118.20,7.82,116.64,6.13,59.33,5.45,110.00,5.58,61.62,4.37,SW,2,49.514
9,9,145.00,10.42,144.00,7.05,70.96,7.44,120.00,7.31,78.67,6.34,SW,2,59.719
10,10,165.00,11.45,156.00,8.68,80.25,7.85,143.00,8.25,86.61,6.63,SW,2,67.372
11,11,186.00,9.83,152.00,8.76,56.02,7.02,185.00,8.07,90.80,4.59,SW,2,70.809
12,12,172.00,8.44,142.00,8.43,52.18,6.68,180.00,9.62,82.58,5.50,SW,2,66.743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,246,90.13,5.92,104.28,4.40,54.55,4.65,94.99,4.42,67.55,4.14,R,1,43.503
247,247,100.29,6.33,112.19,4.69,59.71,4.94,102.54,5.33,71.03,4.95,R,1,47.200
248,248,96.46,5.71,111.85,4.20,59.82,4.65,99.16,4.56,73.95,4.29,R,1,46.465
249,249,93.37,5.33,102.65,3.90,58.55,4.62,101.24,4.57,71.30,4.38,R,1,44.991
250,250,99.69,6.09,111.00,4.26,60.84,4.75,104.72,4.92,71.23,4.21,R,1,47.171

In [48]:
birds[(birds["huml"]>90) & (birds["huml"]<150)]    # | = or & = and

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
8,8,118.20,7.82,116.64,6.13,59.33,5.45,110.00,5.58,61.62,4.37,SW,2,49.514
9,9,145.00,10.42,144.00,7.05,70.96,7.44,120.00,7.31,78.67,6.34,SW,2,59.719
13,13,148.91,6.78,121.35,6.50,44.29,6.33,155.00,6.68,73.71,4.24,SW,2,57.379
14,14,149.19,6.98,121.48,6.21,43.33,5.39,155.00,6.61,75.65,3.36,SW,2,57.320
15,15,140.59,6.59,115.97,5.81,39.75,5.61,166.00,7.83,74.86,3.52,SW,2,56.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,246,90.13,5.92,104.28,4.40,54.55,4.65,94.99,4.42,67.55,4.14,R,1,43.503
247,247,100.29,6.33,112.19,4.69,59.71,4.94,102.54,5.33,71.03,4.95,R,1,47.200
248,248,96.46,5.71,111.85,4.20,59.82,4.65,99.16,4.56,73.95,4.29,R,1,46.465
249,249,93.37,5.33,102.65,3.90,58.55,4.62,101.24,4.57,71.30,4.38,R,1,44.991
250,250,99.69,6.09,111.00,4.26,60.84,4.75,104.72,4.92,71.23,4.21,R,1,47.171

In [50]:
birds[birds["type"]=="P"]

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
254,254,29.26,2.66,27.63,2.23,27.87,2.03,38.90,1.81,25.22,1.62,P,1,15.923
255,255,30.60,2.45,25.90,1.87,32.36,2.10,50.25,1.88,33.58,1.88,P,1,18.287
256,256,30.25,2.29,25.14,1.87,31.61,2.18,50.98,2.00,33.50,1.93,P,1,18.175
257,257,42.52,2.99,36.73,2.91,52.24,3.81,81.57,3.71,61.27,2.71,P,1,29.046
258,258,45.60,3.35,38.73,3.52,54.45,4.10,83.59,3.72,63.91,2.67,P,1,30.364
259,259,43.97,3.54,38.38,3.14,52.49,4.25,83.15,4.12,61.08,3.04,P,1,29.716
260,260,46.38,3.41,39.80,3.48,54.67,4.08,85.88,4.04,63.75,3.09,P,1,30.858
261,261,45.57,4.64,57.13,2.93,28.32,2.26,36.95,1.96,19.75,2.16,P,1,20.167
262,262,33.81,2.80,42.82,2.22,18.88,1.45,26.28,1.31,14.45,1.29,P,1,14.531
263,263,31.72,2.64,40.00,1.99,20.36,1.59,32.21,1.62,17.72,1.52,P,1,15.137
264,264,9.85,2.88,14.73,1.73,16.27,1.22,20.89,1.25,7.77,1.23,P,1,7.782
265,265,44.47,4.24,55.77,3.43,38.57,3.06,52.80,2.82,18.57,3.60,P,1,22.733
266,266,18.46,1.79,21.12,1.47,18.83,1.21,26.33,1.05,11.41,1.56,P,1,10.323
267,267,18.55,2.12,21.08,1.41,18.19,1.30,25.97,1.17,11.26,1.57,P,1,10.262
268,268,27.57,2.67,31.60,2.12,18.92,1.52,30.42,1.58,12.46,1.46,P,1,13.032
269,269,27.07,2.66,31.95,1.87,18.80,1.51,26.38,1.33,12.52,1.16,P,1,12.525
270,270,26.92,2.73,31.54,2.01,19.10,1.59,26.68,1.35,13.21,1.23,P,1,12.636
271,271,49.12,3.59,60.95,2.99,26.35,2.00,37.29,1.81,10.39,2.03,P,1,19.652
272,272,48.80,3.78,59.47,3.17,26.14,2.24,36.01,1.63,11.65,2.00,P,1,19.489
273,273,47.17,3.96,56.57,2.87,33.60,2.68,50.66,2.49,32.03,2.06,P,1,23.409
274,274,37.86,3.24,46.72,2.63,27.52,2.26,42.49,1.89,26.88,1.54,P,1,19.303
275,275,39.98,3.34,47.50,2.64,28.57,2.53,42.96,2.20,27.66,1.67,P,1,19.905
276,276,44.18,3.88,50.72,3.49,39.58,3.90,50.89,3.61,35.14,2.82,P,1,23.821
277,277,41.36,3.52,49.34,2.83,30.97,2.46,44.31,2.43,29.97,2.05,P,1,20.924
278,278,41.66,3.56,48.82,2.80,31.94,2.52,46.19,2.31,30.73,1.95,P,1,21.248
279,279,31.28,2.83,36.88,2.20,22.30,2.10,32.60,1.68,20.47,1.54,P,1,15.388
280,280,34.07,3.26,41.34,2.62,24.25,2.30,36.35,2.13,24.69,2.12,P,1,17.313
281,281,33.79,3.04,42.13,2.56,23.09,2.21,34.74,2.07,22.12,1.78,P,1,16.753
282,282,34.15,2.98,40.67,2.45,24.72,1.98,37.35,1.93,23.49,1.67,P,1,17.139
283,283,36.88,3.18,46.28,2.77,26.08,2.19,39.44,2.03,25.60,1.98,P,1,18.643
284,284,28.55,2.65,33.74,2.38,19.56,1.98,29.21,1.64,18.75,1.53,P,1,13.999
285,285,30.51,2.69,35.33,2.29,21.90,2.04,32.26,1.65,22.52,1.43,P,1,15.262
286,286,29.81,2.59,35.05,2.28,21.48,2.11,31.89,1.84,21.67,1.52,P,1,15.024
287,287,27.72,2.67,32.00,2.21,22.68,2.13,32.50,1.76,19.65,1.64,P,1,14.496
288,288,29.14,2.75,32.91,2.16,23.13,2.11,33.89,1.80,20.86,1.70,P,1,15.045
289,289,27.85,2.65,32.62,2.05,22.84,2.14,33.62,1.91,20.82,1.80,P,1,14.830
290,290,20.06,1.73,23.15,1.49,16.63,1.57,24.71,1.29,15.19,1.24,P,1,10.706
291,291,41.60,3.74,56.50,3.02,37.00,2.99,62.90,2.82,38.21,2.51,P,1,25.129

In [51]:
birds[birds["type"]=="SO"]

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
292,292,29.61,2.41,33.93,2.02,30.79,2.19,51.64,2.01,37.33,1.78,SO,2,19.371
293,293,30.28,2.89,35.37,2.15,31.09,2.51,53.36,2.31,39.52,1.69,SO,2,20.117
294,294,28.10,2.44,32.50,2.19,29.68,2.33,50.47,2.21,37.98,1.79,SO,2,18.969
295,295,28.66,2.48,33.24,2.02,29.33,2.26,50.64,2.05,35.99,1.85,SO,2,18.852
296,296,36.36,3.31,40.51,2.56,37.52,2.85,53.96,2.63,42.71,2.41,SO,2,22.482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [52]:
birds[birds["type"]=="SO"].all(axis=1)

292    True
293    True
294    True
295    True
296    True
       ...
415    True
416    True
417    True
418    True
419    True
Length: 128, dtype: bool

In [53]:
birds[birds["type"]=="SO"].any(axis=1)   # or gate

292    True
293    True
294    True
295    True
296    True
       ...
415    True
416    True
417    True
418    True
419    True
Length: 128, dtype: bool

In [55]:
birds[birds["huml"]>90].all(axis=1).sum()

106

In [56]:
birds[birds["huml"]>90].shape

(106, 14)

In [62]:
birds[birds["type"]=="SW"].all(axis=1).sum()  #AND

115

In [63]:
birds[birds["type"]=="SW"].any(axis=1).sum()  #OR

116

### Sorting

In [64]:
birds.sort_index(axis=1,ascending=True)   #Column based - ascending order

,feature_mean,feml,femw,huml,humw,id,length,tarl,tarw,tibl,tibw,type,ulnal,ulnaw
0,26.193,41.81,3.70,80.78,6.68,0,2,38.70,3.84,5.50,4.03,SW,72.01,4.88
1,36.324,47.04,4.30,88.91,6.63,1,2,41.50,4.01,80.22,4.51,SW,80.53,5.59
2,32.889,43.07,3.90,79.97,6.37,2,2,38.31,3.34,75.35,4.04,SW,69.26,5.28
3,30.920,40.04,3.52,77.65,5.70,3,2,35.78,3.41,69.17,3.40,SW,65.76,4.77
4,25.437,33.95,2.72,62.80,4.84,4,2,31.88,3.13,56.27,2.96,SW,52.09,3.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,11.579,18.36,1.54,17.96,1.63,415,2,21.99,1.15,31.25,1.33,SO,19.25,1.33
416,12.303,19.24,1.45,19.21,1.64,416,2,23.60,1.15,33.21,1.28,SO,20.76,1.49
417,12.410,20.96,1.43,18.79,1.63,417,2,22.86,1.21,34.45,1.41,SO,19.83,1.53
418,13.386,21.35,1.48,20.38,1.78,418,2,25.98,1.24,36.09,1.53,SO,22.53,1.50
419,11.244,17.62,1.34,17.89,1.44,419,2,21.69,1.05,29.81,1.24,SO,19.26,1.10

In [65]:
birds.sort_index(axis=1,ascending=False)  #Column based -descending order

,ulnaw,ulnal,type,tibw,tibl,tarw,tarl,length,id,humw,huml,femw,feml,feature_mean
0,4.88,72.01,SW,4.03,5.50,3.84,38.70,2,0,6.68,80.78,3.70,41.81,26.193
1,5.59,80.53,SW,4.51,80.22,4.01,41.50,2,1,6.63,88.91,4.30,47.04,36.324
2,5.28,69.26,SW,4.04,75.35,3.34,38.31,2,2,6.37,79.97,3.90,43.07,32.889
3,4.77,65.76,SW,3.40,69.17,3.41,35.78,2,3,5.70,77.65,3.52,40.04,30.920
4,3.73,52.09,SW,2.96,56.27,3.13,31.88,2,4,4.84,62.80,2.72,33.95,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,1.33,19.25,SO,1.33,31.25,1.15,21.99,2,415,1.63,17.96,1.54,18.36,11.579
416,1.49,20.76,SO,1.28,33.21,1.15,23.60,2,416,1.64,19.21,1.45,19.24,12.303
417,1.53,19.83,SO,1.41,34.45,1.21,22.86,2,417,1.63,18.79,1.43,20.96,12.410
418,1.50,22.53,SO,1.53,36.09,1.24,25.98,2,418,1.78,20.38,1.48,21.35,13.386
419,1.10,19.26,SO,1.24,29.81,1.05,21.69,2,419,1.44,17.89,1.34,17.62,11.244

In [67]:
birds.sort_index(axis=0,ascending=True)  # Row based ascending order

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [68]:
birds.sort_index(axis=0,ascending=False)  #Row based - Descending order

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193

In [69]:
birds.sort_values(by="type",ascending=True)

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
270,270,26.92,2.73,31.54,2.01,19.10,1.59,26.68,1.35,13.21,1.23,P,1,12.636
269,269,27.07,2.66,31.95,1.87,18.80,1.51,26.38,1.33,12.52,1.16,P,1,12.525
268,268,27.57,2.67,31.60,2.12,18.92,1.52,30.42,1.58,12.46,1.46,P,1,13.032
267,267,18.55,2.12,21.08,1.41,18.19,1.30,25.97,1.17,11.26,1.57,P,1,10.262
266,266,18.46,1.79,21.12,1.47,18.83,1.21,26.33,1.05,11.41,1.56,P,1,10.323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,167,80.00,4.70,111.96,4.87,40.17,3.34,68.89,3.25,33.69,2.70,W,1,35.357
168,168,50.96,3.32,59.14,3.18,22.68,1.74,37.49,2.06,15.91,1.71,W,1,19.819
169,169,25.10,1.68,26.11,1.73,17.86,1.33,35.85,1.20,23.44,1.05,W,1,13.535
171,171,22.89,1.55,24.62,1.59,15.71,1.14,34.27,1.06,21.02,1.04,W,1,12.489
153,153,138.09,8.08,155.49,7.43,63.14,5.45,125.00,4.66,75.17,4.11,W,1,58.662

In [70]:
birds["type"]

0      SW
1      SW
2      SW
3      SW
4      SW
       ..
415    SO
416    SO
417    SO
418    SO
419    SO
Name: type, Length: 420, dtype: object

In [71]:
birds.sort_values(by=["type","huml"],ascending=True)

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
264,264,9.85,2.88,14.73,1.73,16.27,1.22,20.89,1.25,7.77,1.23,P,1,7.782
266,266,18.46,1.79,21.12,1.47,18.83,1.21,26.33,1.05,11.41,1.56,P,1,10.323
267,267,18.55,2.12,21.08,1.41,18.19,1.30,25.97,1.17,11.26,1.57,P,1,10.262
290,290,20.06,1.73,23.15,1.49,16.63,1.57,24.71,1.29,15.19,1.24,P,1,10.706
270,270,26.92,2.73,31.54,2.01,19.10,1.59,26.68,1.35,13.21,1.23,P,1,12.636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,153,138.09,8.08,155.49,7.43,63.14,5.45,125.00,4.66,75.17,4.11,W,1,58.662
149,149,138.48,7.54,157.00,6.72,62.20,5.07,116.09,5.83,72.49,3.94,W,1,57.536
157,157,150.00,8.05,170.00,7.36,67.60,5.98,124.92,5.76,78.41,4.33,W,1,62.241
116,116,157.00,9.00,192.00,7.02,85.60,6.44,227.00,6.84,175.00,6.77,W,1,87.267
117,117,190.00,11.92,225.00,8.55,101.75,7.75,240.00,7.71,175.00,7.00,W,1,97.468

### Statistics

* add,sub,mul,div,mod,power,mean,median,std,variance,min,max,counting etc

In [72]:
birds.mean()

id              209.500000
huml             64.650501
humw              4.370573
ulnal            69.115372
ulnaw             3.597249
feml             36.872416
femw              3.220883
tibl             64.662823
tibw              3.182339
tarl             39.229976
tarw              2.930024
length            1.580952
feature_mean     29.147160
dtype: float64

In [73]:
birds["huml"].median()

44.18

In [74]:
birds[["huml","tarw"]].sum()

huml    27088.56
tarw     1227.68
dtype: float64

In [75]:
birds.describe()

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,length,feature_mean
count,420.000000,419.000000,419.000000,417.000000,418.000000,418.000000,419.000000,418.000000,419.000000,419.000000,419.000000,420.000000,420.000000
mean,209.500000,64.650501,4.370573,69.115372,3.597249,36.872416,3.220883,64.662823,3.182339,39.229976,2.930024,1.580952,29.147160
std,121.387808,53.834549,2.854617,58.784775,2.186747,19.979082,2.023581,37.838145,2.080827,23.184313,2.185673,0.493992,18.996025
min,0.000000,9.850000,1.140000,14.090000,1.000000,11.830000,0.930000,5.500000,0.870000,7.770000,0.660000,1.000000,7.782000
25%,104.750000,25.170000,2.190000,28.050000,1.870000,21.297500,1.715000,36.417500,1.565000,23.035000,1.425000,1.000000,14.528500
50%,209.500000,44.180000,3.500000,43.710000,2.945000,31.130000,2.520000,52.120000,2.490000,31.740000,2.230000,2.000000,22.382500
75%,314.250000,90.310000,5.810000,97.520000,4.770000,47.120000,4.135000,82.870000,4.255000,50.250000,3.500000,2.000000,39.082250
max,419.000000,420.000000,17.840000,422.000000,12.000000,117.070000,11.640000,240.000000,11.030000,175.000000,14.090000,2.000000,137.740000

In [76]:
birds["type"].value_counts()

SO    128
SW    116
W      65
R      50
P      38
T      23
Name: type, dtype: int64

In [77]:
birds["type"].mode()

0    SO
dtype: object

In [78]:
import numpy as np

birds["huml"].agg([np.mean,np.max,np.min])

mean     64.650501
amax    420.000000
amin      9.850000
Name: huml, dtype: float64

In [79]:
birds["huml"].max()

420.0

In [80]:
birds["huml"].argmax() #huml max values index position

58

In [81]:
birds["huml"].idxmax()

58

In [82]:
birds["huml"].idxmin()

264

In [83]:
birds["huml"].std()

53.834548915405946

### Saving

In [85]:
s_data=birds.describe()

In [86]:
s_data.to_excel("birds_description.xlsx")  # exporting final data into excel file

In [87]:
s_data.to_csv("bdescription.csv")

### Drop

In [88]:
birds.drop(["huml"],axis=1)

,id,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
0,0,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [89]:
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [90]:
birds.drop(["type","length"],axis=1)

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,feature_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,11.244

In [91]:
birds.drop(columns=["tarw","tarl"])

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,type,length,feature_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,SO,2,11.244

In [92]:
birds.drop(birds.columns[[0,4,2]],axis=1)

,huml,ulnal,feml,femw,tibl,tibw,tarl,tarw,type,length,feature_mean
0,80.78,72.01,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,88.91,80.53,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,79.97,69.26,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,77.65,65.76,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,62.80,52.09,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...
415,17.96,19.25,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,19.21,20.76,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,18.79,19.83,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,20.38,22.53,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,17.89,19.26,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [93]:
# dropna() -> drops the rows where atleast 1 element is missing

df=pd.DataFrame([[1,2,3],[4,np.nan,6],[np.nan,8,np.nan]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  6.0
2  NaN  8.0  NaN

In [95]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0